Creating randomly generated numpy dataframes, specifying a mean, standard deviation and sample size:

In [6]:
import numpy as np
import pandas as pd
# 'numpy.random.normal' takes in 2 parameters, mean, standard deviation and size. Each time it is run, it will create a randomly generated numpy dataframe.
agesInDays = np.random.normal(19600.25, 2441.4, 300)
# 'random.binomial' is used to output a binary dataframe containing only ones and zeros:
gender = np.random.binomial(1.393333, 0.489306, 300)
height = np.random.normal(164.216667, 9.880374, 300)
weight = np.random.normal(73.123333, 14.157551, 300)
systolic_bp = np.random.normal(127.793333, 16.862932, 300)
diastolic_bp =np.random.normal(81.8, 9.768217, 300)
# 'numpy.random.choice' allows the user to output values from a tuple weighted on the probabilities of each element occuring, where the size of the output dataframe is also specified in the input:
cholestrol = np.random.choice((1,2,3), 300, p=[218/300, 48/300, 34/300])
glucose = np.random.choice((1,2,3), 300, p=[264/300, 23/300, 13/300])
smoke = np.random.choice((0,1), 300, p=[0.893333, 0.106667])
alcohol = np.random.choice((0,1), 300, p=[0.96, 0.04])
#print(alcohol)
physicallyActive = np.random.choice((0,1), 300, p=[0.233333, 0.766667])
#print(physicallyActive)
heart_disease = np.random.choice((0,1), 300, p=[0.466667 , 0.533333])
#ptint(heart_disease)

In [7]:
df1 = pd.DataFrame({"agesInDays": [np.random.normal(19531.26, 2461, 220)],
                    "gender": [np.random.binomial(1.409091, 0.492787, 220)],
                    "height": [np.random.normal(165.109091, 8.279750, 220)],
                    "weight": [np.random.normal(73.040909, 14.184793, 220)],
                    "systolic_bp": [np.random.normal(126.513636, 16.494770, 220)],
                    "diastolic_bp": [np.random.normal(81.322727, 9.702442, 220)],
                    "cholestrol": [np.random.choice((1,2,3), 220, p=[164/220, 33/220, 23/220])],
                    "glucose": [np.random.choice((1,2,3), 220, p=[192/220, 16/220, 12/220])],
                    "smoke": [np.random.choice((0,1), 220, p=[0.895455, 0.104545])],
                    "alcohol": [np.random.choice((0,1), 220, p=[0.959091, 0.040909])],
                    "phys_active": [np.random.choice((0,1), 220, p=[0.227273, 0.772727])],
                    "heart_disease": [np.random.choice((0,1), 220, p=[0.481818 , 0.518182])]})
df1

,agesInDays,gender,height,weight,systolic_bp,diastolic_bp,cholestrol,glucose,smoke,alcohol,phys_active,heart_disease
0,"[22307.267192198808, 18641.44154067551, 21224....","[0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, ...","[159.21671282659608, 178.12619288706722, 148.0...","[70.11643285854767, 63.30225714944629, 93.2375...","[112.23479953876583, 131.4868386881971, 121.95...","[92.78396499219608, 75.90435378184004, 92.0609...","[1, 1, 3, 1, 1, 1, 3, 1, 3, 1, 1, 1, 3, 2, 2, ...","[1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."

If variables are linearly related, it may be useful to get the covariance. Covariance can be used to characterize the relationships between 2 or more variables.

In [8]:
covariance = df1.cov(agesInDays, heart_disease)
covariance

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

The Covariance leads to the Pearson correlation coefficient, another measure of the linear relationship between 2 variables. It outputs a value between and including -1 and 1, where -1 means a perfectly negative linear relationship, 0 means there is no linear relationship and 1 means a perfectly positive linear relationship. So the further the ouput is from 0, the variables are more closely related.

In [12]:
# The 'corrcoef' method outputs a matrix of correlation coefficients:
x = np.corrcoef(agesInDays, heart_disease)
print(x)
x2 = np.corrcoef(weight, heart_disease)
print(x2)
x3 = np.corrcoef(systolic_bp, heart_disease)
print(x3)

[[1.         0.00321962]
 [0.00321962 1.        ]]
[[ 1.         -0.01573427]
 [-0.01573427  1.        ]]
[[1.         0.02142629]
 [0.02142629 1.        ]]

Statistical significance can be determined by finding the p-value using the 'pearsonr' method contained in the scipy.stats package.

In [15]:
# Calculating the Pearson correlation coefficient and the p-value
from scipy.stats import pearsonr
pearsonr(agesInDays, heart_disease)

PearsonRResult(statistic=0.0032196163618008707, pvalue=0.9621285138346295)

In [16]:
pearsonr(weight, heart_disease)

PearsonRResult(statistic=-0.01573427279203877, pvalue=0.8164899661861694)

In [17]:
pearsonr(systolic_bp, heart_disease)

PearsonRResult(statistic=0.02142629146269126, pvalue=0.7519804141334973)

A p-value, also known as the probability value, higher that 0.05 is not considered statistically significant. The results obtained above are nearer to 1 than zero and the Null Hypothesis cannot be rejected. The Null Hypothesis means there is no relationship bewteen the variables.

In [25]:
# The relationship between 2 or more variables can also be calcuted using the '.corr()' method:
#df2 = df1(columns=['weight', 'systolic_bp','diastolic_bp','heart_disease'])
#df2.corr()
#cor = df1['diastolic_bp'].corr(df1['heart_disease'])
#cor
print(df1.corr())

Empty DataFrame
Columns: []
Index: []

In [26]:
df1.style.set_precision(1)

In [28]:
# I think the problem is your list is nested, i.e. 2D list. If we flatten it first (converting to 1D), then we can apply float() function on each element.
df1.style.format({
    'agesInDays': '{:.2f}'.format,
    'height': '{:.2f}'.format,
    'weight': '{:.2f}'.format,
    'systolic_bp': '{:.2f}'.format,
    'diastolic_bp': '{:.2f}'.format,
})

TypeError: unsupported format string passed to numpy.ndarray.__format__

In [29]:
df1.reshape(-1)

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [22]:
import matplotlib.pyplot as plt
plt.scatter(df1.weight, df1.height)

TypeError: loop of ufunc does not support argument 0 of type numpy.ndarray which has no callable rint method

High blood pressure has long been known as a very important risk factor for cardiovascular disease. "Large cohort studies have demonstrated that high BP is an important risk factor for heart failure, atrial fibrillation, chronic kidney disease, heart valve diseases, aortic syndromes, and dementia, in addition to coronary heart disease and stroke." [1] A systolic blood pressure of 120 or lower and a diastolic blood pressure of 80 or lower is considered normal and not a risk factor for developing cardiovascular disease. A systolic blood pressure of between 130 and 139, or a diastolic blood pressure between 80 and 89 is considered to be high blood pressure stage 1 and a risk factor for cardiovascular disease. Readings of 140 or higher for systolic blood pressure or 90 or higher for diastolic blood pressure is stage 2 high blood pressure. Readings higher that 180 and/or 120 is considered a crisis level, and one may have noticeable symptoms such as chest pains and require prompt medical attention. Due to spikes in blood pressure, a one-off high reading is not considered accurate if subsequent readings are within the normal range. Systolic blood pressure usually rises with age due to arterial stiffness, or what is termed "hardening of the arteries" and the build up of plaque. The causes of high blood pressure are mostly unknown. High blood pressure with an identifiable cause is termed "secondary hypertension". Narrowing of arteries to the kidneys is a common cause of "secondary hypertension".

The incidence and people who are overweight or obese had increased dramatically in the last one hundred years. This is largely due to the American style diet which is overloaded with sugar and fried foods, and also due to other factors such as increased pesticide use which depletes the soil of nutrients considered vital to human health. Those who are considered overweight and especially those who are obese are at an increased risk of cardiovascular disease due to a few reasons. Obesity alone is considered a risk, independent of other factors. Obesity can cause higher triglyceride levels and bad cholesterol, while also lower good (HDL) cholesterol. It can cause high blood pressure, "A 2020 review estimates that obesity accounts for 65 to 78 percentTrusted Source of cases of primary hypertension." Body mass index (BMI) is an important measurement to distinguish between being overweight and being obese. "Your BMI is the ratio between your weight and your height." [2] According to the variables "height" and "weight" in the dataset, it may be estimated which of those are overweight or obese; and the rate of cardiovascular disease for this group. Those who have a high amount of visceral fat, or fat around the midsection may or may not be termed obese, yet this is another cause of cardiovascular disease. Perhaps this may skew the correlation between weight and rates of the disease.

# References:

[1] https://www.ahajournals.org/doi/full/10.1161/HYPERTENSIONAHA.119.14240

[2] https://www.healthline.com/health/high-blood-pressure-hypertension/obesity-and-hypertension#how-theyre-linked