Creating randomly generated numpy dataframes, specifying a mean, standard deviation and sample size:

In [1]:
import numpy as np
import pandas as pd
# 'numpy.random.normal' takes in 2 parameters, mean, standard deviation and size. Each time it is run, it will create a randomly generated numpy dataframe.
agesInDays = np.random.normal(19531.26, 2461, 220)
# 'random.binomial' is used to output a binary dataframe containing only ones and zeros:
gender = np.random.binomial(1.409091, 0.492787, 220)
height = np.random.normal(165.109091, 8.279750, 220)
weight = np.random.normal(73.040909, 14.184793, 220)
systolic_bp = np.random.normal(126.513636, 16.494770, 220)
diastolic_bp =np.random.normal(81.322727, 9.702442, 220)
# 'numpy.random.choice' allows the user to output values from a tuple weighted on the probabilities of each element occuring, where the size of the output dataframe is also specified in the input:
cholestrol = np.random.choice((1,2,3), 220, p=[164/220, 33/220, 23/220])
glucose = np.random.choice((1,2,3), 220, p=[192/220, 16/220, 12/220])
smoke = np.random.choice((0,1), 220, p=[0.895455, 0.104545])
alcohol = np.random.choice((0,1), 220, p=[0.959091, 0.040909])
#print(alcohol)
physicallyActive = np.random.choice((0,1), 220, p=[0.227273, 0.772727])
#print(physicallyActive)
heart_disease = np.random.choice((0,1), 220, p=[0.481818 , 0.518182])
#ptint(heart_disease)

In [2]:
df1 = pd.DataFrame({"agesInDays": [np.random.normal(19531.26, 2461, 220)],
                    "gender": [np.random.binomial(1.409091, 0.492787, 220)],
                    "height": [np.random.normal(165.109091, 8.279750, 220)],
                    "weight": [np.random.normal(73.040909, 14.184793, 220)],
                    "systolic_bp": [np.random.normal(126.513636, 16.494770, 220)],
                    "diastolic_bp": [np.random.normal(81.322727, 9.702442, 220)],
                    "cholestrol": [np.random.choice((1,2,3), 220, p=[164/220, 33/220, 23/220])],
                    "glucose": [np.random.choice((1,2,3), 220, p=[192/220, 16/220, 12/220])],
                    "smoke": [np.random.choice((0,1), 220, p=[0.895455, 0.104545])],
                    "alcohol": [np.random.choice((0,1), 220, p=[0.959091, 0.040909])],
                    "phys_active": [np.random.choice((0,1), 220, p=[0.227273, 0.772727])],
                    "heart_disease": [np.random.choice((0,1), 220, p=[0.481818 , 0.518182])]})
df1

,agesInDays,gender,height,weight,systolic_bp,diastolic_bp,cholestrol,glucose,smoke,alcohol,phys_active,heart_disease
0,"[18547.045633111768, 19533.003303824113, 17822...","[0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, ...","[166.87254120610672, 159.40942198072207, 159.3...","[55.63452368384746, 85.5642420515623, 89.11981...","[111.8166196571337, 171.73989021295424, 108.72...","[89.96172341860039, 93.72046715332476, 69.5434...","[1, 3, 2, 1, 1, 3, 1, 3, 1, 1, 1, 2, 1, 1, 1, ...","[3, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, ...","[1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, ..."